.Artricle{
    border: 10px solid purple;
    background-color: lightcoral;
    margin: 20px;
    box-shadow: 20px 20px 50px black;
}
header{
    background-color: lightgreen;
    text-align: center;
   height: 500px;
   background-image: url('coxbazar.jpg');
}