.card{
    width: 300px;
        border: 2px solid rgb(0, 183, 255);
        padding: 10px;
    border-radius:10px ;
    box-shadow: 10px 10px 10px rgb(0, 183, 255);
}
.card img{
    width: 100%;
     
    border-radius: 10px;
}
.card h3{
    font-size: 1.25em;
   font-weight: 700;
}
.card button{
    background-color: aqua;
    padding: 10px 10px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}
body{
    max-width: 1170px;
    background-color: bisque;
    margin: 0 auto;
}
.card:hover{
    background-color: aquamarine;
}
.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
h2{
    display: flex;
  justify-content: center;
  font-size: 2em;
  color: rgb(255, 0, 68);
   
}
.card-section{
    text-align: center;
}